.theme {
    margin-inline-start: 10px;
}

.theme-img {
    block-size: 30px;
    background-color: white;
    padding: 0.5px;
    border-radius: 50%;
}
.theme-light{
    background-color: white;
}

.theme-dark{
    background-color: black;
    color: white;
}

/*Team Styling*/



/*End of Team Styling*/



/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
    position: relative;
    inline-size: 100%;
    padding: 50px 0 50px 0;
    block-size: 500px;
}
.team .container{
    block-size: 800px;
}
.team .team-item {
    position: relative;
    margin-block-end: 35px;
}

.team .team-img {
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.team .team-img img {
    inline-size: 300px;
    margin-block-end: -15px;
    transition: .3s;
}

/*
.team .team-item:hover img {
    margin: -15px 0 0 0;
}
    */

.team .team-text {
    position: absolute;
    inline-size: calc(100% - 40px);
    block-size: 70px;
    margin-block-end: 3px;
    inset-block-end: 0;
    inset-inline-start: 20px;
    padding: 2px 0;
    text-align: center;
    background: #ffffff;
    transition: .3s;
    overflow: hidden;
}

.team .team-text h2 {
    font-size: 16px;
    font-weight: 700;
    margin-block-end: 0.5px;
}

.team .team-text p {
    margin-block-end: 2px;
}

.team .team-social {
    position: relative;
    font-size: 0;
}

.team .team-social a {
    display: inline-block;
    inline-size: 25px;
    block-size: 25px;
    margin: 0 3px;
    margin-block-end: 1px;
    padding: 3px 0;
    text-align: center;
    font-size: 12px;
    color: #4a4c70;
    border: 2px solid #FDBE33;
    transition: .3s;
}

.team .team-social a:hover {
    color: #20212B;
    background: #FDBE33;
}

/*
.team .team-item:hover .team-text {
    block-size: 160px;
} */

/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    inline-size: 100%;
    padding: 45px 0;
}

.about .section-header {
    margin-block-end: 30px;
    margin-inline-start: 0;
}

.about .about-img {
    inline-size: 100%;
    block-size: 400px;
    border-radius: 20px;
    background-image: url(../img/diplomat3.jpeg);
}

@media (max-width: 991.98px) {
    .about .section-header {
        margin-block-start: 30px;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    inline-size: 100%;
    max-inline-size: 700px;
    margin: 0 auto 45px auto;
}

.section-header p {
    margin-block-end: 5px;
    position: relative;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    color: #7f248d;
}

.section-header h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    color: #1082ce;
}

@media (max-width: 991.98px) {
    .section-header h2 {
        font-size: 45px;
    }
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 40px;
    }
}

@media (max-width: 575.98px) {
    .section-header h2 {
        font-size: 35px;
    }
}

/*******************************/
/******* Supporters CSS ********/
/*******************************/
.thumbnail {
    border-radius: 20px;
    inline-size: 600px;
    block-size: 250px;
}

.text-dim {
    color: #aaaaaa;
}

/*******************************/
/******* testinominal CSS ********/
/*******************************/
.customer-reviews-text{
    margin-inline-start: 550px;
    font-size: 30px;
    padding: 10px;
    margin-block-start: 50px;

}
.user-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 50px;
    margin-block-start: -75px;
  }
  .user-card{
    background-color: #5396f5;
    inline-size: 560px;
    margin: 20px;
    border-radius: 5px;
    block-size: 350px;
    position: relative;
  }
  .user-profile{
    display: block;
    border-radius: 50%;
    margin: 5px auto;
    block-size: 80px;
    margin-inline-start: 0;
  }
  .user-name{
    color: black;
    font-size: 20px;
    margin: 18px auto;
    padding: 10px;
    margin-block-start: -85px;
    margin-inline-start: 90px;
 }
 .user-name-email{
    color: black;
    font-size: 15px;
    margin: 18px auto;
    padding: 10px;
    margin-block-start: -34px;
    margin-inline-start: 90px;
 }
.review-rating-img
{
    margin-block-start: -240px;
    margin-inline-start: 350px;
}
.review-text{
    font-size: 18px;
    margin-block-start: 50px;
    
}
.rating-star{
    margin-block-start: -240px;
    margin-inline-start: 350px;
}
.user-card:hover{
    background-color: darkgrey;
    box-shadow: 0 0 3px 1px grey;
    transition: 0.3s;
}
.small-txt{
    font-weight: bold;
}