.theme {
    margin-inline-start: 10px;
}

.theme-img {
    block-size: 30px;
    background-color: white;
    padding: 0.5px;
    border-radius: 50%;
}

.theme-light{
    background-color: white;
}

.theme-dark{
    background-color: black;
    color: white;
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-container {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin: 5px; 
}

.volu{
    block-size: 400px;
    inline-size: 600px;
    margin: 30px;
}


.card-container {
    margin-block-start: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
   
}
.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(127, 36, 141, 0.3); /* lighter shade of #7f248d */
    overflow: hidden;
    inline-size: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(127, 36, 141, 0.3); /* lighter shade of #7f248d */
}
.card h2 {
    color:#1082ce;
}

.card h2 {
    color: #1082ce;
}

.card p {
    color:black;
}
.logo {
    inline-size: 50px;
    block-size: 50px;
    margin-block-end: 15px;
    margin-inline-start: 38%;
}
.learn-more {
    background-color:#fff;
    color:#1b6d18 ;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-block-start: 15px;
    transition: background-color 0.3s ease-in-out;
    border: #1b6d18 solid 2px;
}
.learn-more:hover {
    background-color:#1b6d18;
    color:#fff ; 
   
}
.overlay {
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
}
.description-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    inline-size: 70%;
    max-inline-size: 800px;
    overflow-y: auto;
}
.overlay h2{
    color:  #f1471d;
}
.overlay p{
    color: #000000;
}
.close-btn {
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: 10px;
    background-color: #7f248d;
    color: #fff;
    border: none;
    border-radius: 50%;
    inline-size: 30px;
    block-size: 30px;
    font-size: 16px;
    cursor: pointer;
}
/******** Volunteer CSS ********/
/*******************************/
.volunteer {
    position: relative;
    inline-size: 100%;
    margin: 45px 0;
    background: rgba(0, 0, 0, .5);
    background-image: url(../images/volunteer/volunteer.jpg);
}

.volunteer .volunteer-content {
    padding: 30px 0 45px 0;
}

.container .volunteer {
    margin: 90px 0;
}

.container .volunteer .volunteer-content {
    padding: 45px 30px 15px 30px;
}

.volunteer .volunteer-content .section-header {
    margin-block-end: 30px;
}

.volunteer .volunteer-content .section-header h2 {
    color: #000000;
}

.volunteer .volunteer-text p {
    color: #000000;
    font-size: 18px;
}

.volunteer .volunteer-form {
    padding: 90px 30px;
    background: #ffffff;
    /* margin-block-end: 0%; */
    margin: 30px 0;
}

.volunteer .volunteer-form .control-group {
    margin-block-end: 15px;
}

.volunteer .volunteer-form .form-control {
    block-size: 60px;
    color: #000000;
    padding: 20px 15px;
    border-radius: 0;
    /* border: 1px solid #000000;
    background: transparent; */
    border: none;
    /* text-decoration-color: none; */
    border: none;
    border-block-end: 2px solid #333;
    outline: none;
    resize: none;
}

.volunteer .volunteer-form textarea.form-control {
    block-size: 120px;
    padding: 15px;
}

.volunteer .volunteer-form .form-control::placeholder {
    color: #020202;
    opacity: 1;
    
}

.volunteer .volunteer-form .form-control:-ms-input-placeholder,
.volunteer .volunteer-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.volunteer .volunteer-form .btn.btn-custom {
    padding: 15px 0;
    inline-size: 100%;
    block-size: 60px;
    /* color: #000000; */
    color: #fff;
    background-color: #1b6d18;
    border: 1px solid #000000;
    box-shadow: inset 0 0 0 0 #ffffff;
}

.volunteer .volunteer-form .btn.btn-custom:hover {
    /* color: #000000; */
    color: #fff;
    border: 1px solid #000000;
    /* box-shadow: inset 0 0 0 30px #ffffff; */
    background-color: #1b6d18;
}
.section-header p{
    font-size: xx-large;
    font-weight: 500;
    color: #ffffff;
}
.section-header h2{
    color: #ffffff;
}
.volunteer-text {
    color: #ffffff;
}

@media screen and (max-width:1200px){
    .container1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width:700px){
    .volu{
        inline-size: 300px;
        block-size: 200px;
        margin: 2px;
    }
} 
